html, body {
  padding: 0;
  margin: 50px 0 0 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  width: 100%;
  top: 0px;
  height: 100px;
  position: fixed;
  z-index: 10;
  background-color: #424242;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
}

.header h1 {
  margin-bottom: 10px;
}

.coinCard {
  float: left;
  width: 100%;
  height: 100px;
  border: 2px, solid, black;
  position: static;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.coinCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.addCoinCard {
  float: left;
  background-color: #424242;
  width: 100%;
  height: 100px;
  position: static;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  color: white;
}

.coin-name {
  float: left;
  font-size: 30px;
  padding-left: 5px;
  position: relative;
  line-height: 100px;
}

.coin-name:hover {
  cursor: pointer;
}

.coin-price {
  float: right;
  position: relative;
  padding-right: 5px;
  padding-top: 25px;
}

.current-price {
  font-size: 30px;
  text-align: right;
}

.price-change {
  font-size: 15px;
  text-align: right;
}

.coin-extended {
  margin-top: 100px;
  position: relative;
  line-height: 100px;
  text-align: center;
}

.currency-picker {
  float: left;
  margin-left: 5px;
}

.notification-picker {
  float: right;
  margin-right: 5px;
}
